*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(217, 217, 217);

}
nav{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 22px;
  
}
.logo{
    display: flex;
    align-items: center;
    margin-left: 5px;
}
.logo li{
    list-style: none;
    margin-inline: 25px;
    font-size: 19px;
}
.logo li:hover{
    color: rgb(0, 140, 255);
    border-bottom: 2px solid black;
    cursor: pointer;
}
.searchBar{
    display: flex;
}
.searchBar input{
    width: 220px;
    padding: 6px;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    margin-inline: 5px;
}
.searchBar button{
    width: 60px;
    height: 32px;
    background-color: rgb(0, 140, 255);
    color: white;
    border-radius: 3px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}
.cardData{
    display: grid;
    width: 80%;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));  
    margin: auto;
    margin-top: 52px;
}
.card{
    background-color: #fff;
    padding: 11px;
    margin-top: 25px;
    cursor: pointer;
    margin-inline: 11px;
}
.card img{
    width: 100%;
    height: 45%;
}
.card h3{
    margin-top: 10px;
    padding: 3px;
}
.card p{
    margin-top: 10px;
    padding: 2px;
}
 .category{
   display: flex;
   justify-content: center;
    margin-top: 32px;
     
}

@media only screen and (max-width:830px){
    li{
        display: none;
    }
}

@media only screen and (max-width:470px){
     nav{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
     }
      .logo{
        justify-content: center;
      }
     .searchBar{
      display: flex;
      justify-content: center;
      margin-top: 8px;
     }
 
}