 body{
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(2, 2, 29);
 }
 .container{
    width: 440px;
    margin-left: 33%;
    background-color: #fff;
    margin-top: 5px;
    padding: 11px;
 }
 .head{
    text-align: center;
    padding: 11px;
    font-size: 30px;
 }
 .quiz{
    margin-left: 11px;
 }
 .btn{
    text-align: center;
    padding: 11px;
 }
 button{
    width: 140px;
    height: 40px;
    background-color: rgb(3, 3, 33);
    color: white;
    font-size: 24px;
    border: none;
    outline: none;
    border-radius: 2px;
 }