
*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(243, 239, 239);

}
nav{
    display: flex;
    justify-content: space-between;
    padding: 26px;
    cursor: pointer;

}
ul{
    display: flex;
    margin-right: 33px;
}
ul li{
    list-style: none;
    margin-inline: 22px;
    font-size: 20px;
}
ul i{
    font-size: 22px;
    margin-top: 1px;
    margin-left: 17px;
}
.logo h1{
    font-size: 33px;
}
.main{
    display: flex;
    justify-content: space-around;
    margin-top: 44px;
}
.mainText{
    margin-top: 55px;

}
.mainText h3{
    font-size: 33px;
    margin-top: 20px;
}
.mainText h1{
    font-size: 50px;
}

.mainText p{
    font-size: 18px;
    margin-top: 22px;
}
.mainText button{
    width: 140px;
    height: 36px;
    background-color: rgb(0, 119, 255);
    color: white;
    border: none;
    margin-top: 22px;
    font-size: 18px;
    cursor: pointer;
}
.mainText button:hover{
    border: 3px solid rgb(0, 115, 255);
    background-color: transparent;
    color: black;
}

.main img{
    width: 40%;
}

.active{
    background-color: black;
    color: white;
}