 body{
    background-color: rgb(4, 29, 29);
    font-family: 'Poppins', sans-serif;
 }
 .container{
    width: 360px;
    padding: 33px;
    text-align: center;
    background-color: #fff;
    margin-left: 33%;
    margin-top: 5px;
 }
 input{
    width: 270px;
    padding: 8px;
    border: 2px solid rgb(6, 145, 145);
    outline: none;
    font-size: 19px;


 }
 button{
    width: 60px;
    height: 41px;
    background-color: rgb(4, 29, 29);
    color: white;
    border: none;
    cursor: pointer;

    outline: none;
    border-radius: 2px;
    font-size: 19px;
 }
 .text ul{
    position: relative;
    background-color: rgb(5, 31, 31);
    color: white;
    font-size: 19px;
    padding: 7px;
    text-align: left;
 }
 .text ul i{
    position: absolute;
    right: 10px;
    cursor: pointer;
 }











