  body{
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background-color: rgb(227, 238, 248);
     
  }
  h1{
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 37px;
    margin-top: 2px;
    
  }
  .input{
    text-align: center;
    background-color: black;
    padding: 18px;
  }
 input{
    width: 41%;
    padding: 9px;
    font-size: 20px;
    height: 38px;
    outline: none;
    border-radius: 4px;
    border: none;
 }
 table{
   display: flex;
   justify-content: center;
   padding: 20px;
   border: 2px solid black;
   width: 600px;
   margin-top: 22px;
   margin-left: 358px;
 } 
  
 table tr td{
    width: 150px;
    font-size: 20px;
    padding: 6px;
  }
 
   .heads {
    display: flex;
    justify-content:center;
    position: relative;
    left: 9px;
    top: 28px;
   }
  .heads p{
    font-size: 22px;
    width: 162px;
    margin-top: -12px;
  }
  
  /* body{
    background-color: black;
    color: white;
  } */