 *{
    margin: 0%;
    padding: 0%;
 }
 .container{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .left, .right{
    width: 300px;
    height: 400px;
    border: 2px dashed white;
    margin: 20px;
 }
 .list{
    width: 200px;
    padding: 12px;
    color: white;
    background-color: rgb(250, 45, 45);
    font-size: 21px;
    margin-top: 6px;
    margin: 33px;
    text-align: center;
    
 }