 .container{
    width: 500px;
    border: 3px solid rgb(0, 119, 255);
    border-radius: 5px;
    padding: 44px;
    text-align: center;
    margin-left: 25%;
 }
 .container span{
    font-size: 90px;
 }
 .container button{
    width: 120px;
    height: 40px;
    background-color: rgb(16, 114, 170);
    color: white;
    border-radius: 4px;
    font-size: 18px;
    border: none;
    outline: none;
    margin-inline: 10px;
    margin-top: 22px;
    cursor: pointer;
 }