body{
    
     color: white;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 9%;
}
input{
    width: 35px;
    height: 30px;
    text-align: center;
    font-size: 18px;     
    outline: none;
}
#output{
    border: none;
    border-bottom: 3px solid black;
    font-size: 27px;
    background-color: rgb(179, 109, 59);
    margin-left: 44px;
    width: 150px;
    
   

    
}
button{
    width: 100px;
    height: 37px;
    border: none;
    background-color: rgb(252, 18, 18);
    color: white;
    font-size: 18px;
    outline: none;
    margin-left: 15px;
}
h1{
    text-align: center;
    font-size: 44px;
}