body{
    font-family: 'Lato', sans-serif;
    background-color: #03031b;
    color: white;
}
.container{
    text-align: center;
 }
.convert{
    display: flex;
    justify-content: center;
    margin-top: 5%;
 }
.rgb input{
    width: 70px;
    height: 50px;
    border: none;
    outline: none;
    font-size: 25px;
    border-radius: 2px;
    margin-inline: 8px;
    text-align: center;

 }
 ::placeholder{
    color: black;
 }
 .hex input{
    width: 130px;
    height: 50px;
    border: none;
    background-color: #fff;
    outline: none;
    font-size: 25px;
    border-radius:2px ;
    text-align: center;
 }
 button{
    width: 130px;
    height: 40px;
    border:  none;
    outline: none;
    background-color: rgb(240, 4, 4);
    color: white;
    font-size: 24px;
    margin-inline: 20px;
    border-radius: 2px;
    margin-top: 11px;
 }